/* General reset */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 4fr 8fr; /* Two columns: 4/12 and 8/12 */
  gap: 16px; /* Space between columns */
  padding: 16px; /* Margin around the window */
  box-sizing: border-box;
  height: 100vh; /* Full viewport height */
}

.column {
  border: 1px solid #ddd; /* Optional: For better visualisation */
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  overflow: hidden;
}

.form-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.preview-column {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
}

/* Responsive design: Stacks columns on small screens */
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr; /* Single column layout */
    height: auto; /* Allow content to define height */
  }

  .preview-column {
    height: 300px; /* Optional: Fixed height for preview on small screens */
  }
}

button {
  margin: 5px;
  width: 200px;
  background-color: orange;
  min-height: 30px;
  border: none;
  color: black;
  border-radius: 15px;
}

button:disabled {
  background-color: lightgray;
  border: none;
  color: black;
}

select {
  background-color: orange;
  border-radius: 15px;
  padding: 5px;
  margin: 5px 10px;
  width: 15%;
  height: 30px;
}
